{% extends 'base.html' %}
{% block content -%}

<div class = 'container col-lg-3 col-sm-10 mb-5 align-self-center'>
	<div class="text-center mt-3">
  		<img src='{{ url_for("static", filename="img/messages-icon.png") }}' class="rounded" width="100" height="100">
	</div>
		<h2 class="text-center"> {{title}}</h2>

	<form action ="" method="post">
		<div class="form-group">
			{{ login_form.hidden_tag() }}
			{% for field in login_form if field.name not in ['csrf_token', 'remember', 'submit' ] -%}
				{{ field.label() }}
				{% if field.errors %}
					{{ field(class="form-control is-invalid") }}
					<span class ="invalid-feedback" >
					{% for e in field.errors %}
						{{ e }}
					{% endfor %}
					</span>
				{% else %}
					{{field(class="form-control")}}
					<p></p>
				{% endif %}
			{% endfor %}
			<p></p>
			<p>{{ login_form.submit(class="btn btn-lg btn-success btn-block") }} </p>
		</div>
	</form>
	{% for cat, msg in get_flashed_messages(True) %}
	<div class="alert {{cat}}" role="alert">
		{{msg}}
	</div>
	{%endfor%}
</div>
{% endblock %}